<div class="place-card">
    <mat-card class="card mat-elevation-z3">
        <mat-card-title class="card-title">#{{ place?.route?.length ?? '' }} {{ place?.destination ?? loadingText }}</mat-card-title>
        <!-- <mat-form-field class="card-form-field">
            <input type="number" matInput [ngModel]="id" (ngModelChange)="onIdChanged($event)">
        </mat-form-field> -->
        <mat-selection-list [multiple]="false">
            <div class="card-route">
                <mat-list-option
                    *ngFor="let point of (place?.route ?? []); let index = index"
                    [attr.data-index]="index"
                    [value]="point"
                    [selected]="index === (place?.position ?? -1)"
                    (click)="onPointChanged(index)"
                >
                    <div class="place-content" tabindex="0" [appFocus]="index === (place?.position ?? -1)">
                        <div class="place-content-name">
                            #{{ index + 1 }} {{ point['System Name'] }}
                        </div>
                        <div class="place-content-icons">
                            <mat-icon *ngIf="point?.['Neutron Star']?.toUpperCase() === 'YES'">stars</mat-icon>
                            <mat-icon *ngIf="point?.['Refuel']?.toUpperCase() === 'YES'">battery_charging_full</mat-icon>
                        </div>
                    </div>
                </mat-list-option>
            </div>
        </mat-selection-list>
    </mat-card>
</div>