<div class="place-card">
    <mat-card class="card mat-elevation-z3">
        <mat-card-title class="card-title">#{{ place?.route?.length ?? '' }} {{ place?.destination ?? loadingText }}</mat-card-title>
        <!-- <mat-form-field class="card-form-field">
            <input type="number" matInput [ngModel]="id" (ngModelChange)="onIdChanged($event)">
        </mat-form-field> -->
        <mat-selection-list [multiple]="false">
            <div class="card-route">
                <mat-list-option
                    *ngFor="let point of (place?.route ?? []); let index = index"
                    [attr.data-index]="index"
                    [value]="point"
                    [selected]="index === (place?.position ?? -1)"
                    (click)="onPointChanged(index)"
                >
                    <div class="place-content" [class.stop]="point?.['Stop']?.toUpperCase() === 'YES'" tabindex="0" [appFocus]="index === (place?.position ?? -1)">
                        <div class="place-content-name">
                            <pre>#{{ index + 1 }} {{ getPointInfo(point) }}</pre>
                        </div>
                        <div class="place-content-icons">
                            <mat-icon class="neutron-star" [class.neutron-star-animation]="index === (place?.position ?? -1)" *ngIf="point?.['Neutron Star']?.toUpperCase() === 'YES'">
                                remove
                            </mat-icon>
                            <mat-icon class="refuel-icon" *ngIf="point?.['Refuel']?.toUpperCase() === 'YES'">
                                <ng-container *ngIf="index === (place?.position ?? -1)" else chargingFixedIcon>
                                    {{ chargingAnimationIcon }}
                                </ng-container>
                                <ng-container #chargingFixedIcon>
                                    battery_charging_full
                                </ng-container>
                            </mat-icon>
                            <span class="jumps" *ngIf="point?.['Jumps'] as jumps">
                                <mat-icon class="jumps-icon">
                                    rocket_launch
                                </mat-icon>
                                <span class="jumps-value">
                                    {{jumps}}
                                </span>
                            </span>
                        </div>
                    </div>
                </mat-list-option>
            </div>
        </mat-selection-list>
    </mat-card>
</div>